@charset "utf-8";
*{padding: 0; margin: 0; box-sizing: border-box;}
body {
	background: #fffdd0;
}
					/*-------------HEADER--------------*/
.HeaderContainer {
	background-color: #700c18;
	width: 100vw;
	padding: 10px 50px;
	display: flex;
	position: fixed;
	top: 0;
	z-index: 1;
}
.HeaderContainer a {
	text-decoration: none;
	color: floralwhite;
}
.HEADERTEXT {
	font-size: 60px;
	font-family: Calibri;
	font-weight: bold;
	color: floralwhite;
	margin-left: 20px;
}
.INFECT {
	color: #470008;
}
					/*--------NAVIGATION-----------*/
.NavigationContainer {
	background-color: #700c18;
}
.Navigation {
	float: right;
	position: fixed;
	right: 0;
	padding-top: 30px;
	font-size: 23px;
	font-family: sans-serif;
	margin-right: 10%;
	font-weight: bold;
}
.Navigation a {
	padding: 10px;
	border-radius: 10px;
}
.Navigation a:hover {
	background-color: #470008;
	transition: 0.5s;
}
#activated {
	background-color: #470008;
}
/*------Slideshow-------------------*/
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin-top: 8%;
	margin-left: auto;
	margin-right: auto;

}
.slideshow-container img{
	width: 100%;
	height: 500px;
}
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active {
  background-color: #717171;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
/*---welcome text---*/
.Welcome-text{
	text-align: center;
	padding-top: 50px;
	font-size: 80px;
	font-family: Calibri;
	line-height: 30px;
	font-weight: bold;
}
.cost {
	color: #700c18;
}
.disinfect{
	color: #700c18;
}
.Welcome-text a{
	text-decoration: none;
	background-color: #700c18;
	color: floralwhite;
	padding: 20px;
	font-size: 40px;
	border-radius: 50px;
}
.footer-container {
	background-color: #700c18;
	display: flex;
	padding-top: 25px;
	margin-top: 10%;
}
.footer-container > div{
	text-align: center;
	width: 100%;
	color: floralwhite;
	font-weight: bold;
	font-family: calibri;
	line-height: 35px;
}
.footer-container > div a{
	text-decoration: none;
	color: floralwhite;
	padding: 5px;
	border-radius: 10px;
}
.footer-container > div a:hover{
	Background: #470008;
	transition: 0.4s;
}
.Closing{
	position: absolute;
	text-align: center;
	background: #700c18;
	font-family: calibri;
	color: floralwhite;
}
.closelogo{
	font-family: calibri;
	font-size: 28px;
	font-weight: bold;
	color: floralwhite;
}
.Closing a{
	text-decoration: none;
	font-family: calibri;
	color: floralwhite;
}
.Closing a:hover{
	text-decoration: underline;
}
/*---HISTORY CSS---*/
.contentcontainer{
	margin-top: 8%;
}
hr.divider1{
	margin-right: 5%;
	margin-left: 4%;
	margin-top: 1%;
	border-radius: 10px;
	height: 20px;
	border: 0px;
	background: #673a3a;
}
.contentheader{
	color: floralwhite;
	font-family: calibri;
	text-align: left;
	width: 1200px;
	font-size: 70px;
	margin-left: 5%;
	padding-left: 20px;
	font-weight: bold;
	border-radius: 10px;
	-webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}
.contenthistory {
	margin-top: 1%;
	margin-left: 4%;
	margin-right: 5%;
	font-size: 30px;
	text-align: justify;
	font-weight: bold;
	font-family: Calibri;
	line-height: 50px;
}
.contenthistory img{
	width: 500px;
	height: 300px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 30px;
}
figcaption{
	font-size: 20px;
	margin-top: -2%;
	text-align: center;
}
/*---About US CSS------------------------------*/
.contentaboutus img{
	width: 60%;
	height: 60%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 30px;
}
.contentaboutus hr{
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	height: 5px;
	background: black;
}
